<h4>顧客一覧</h4>

<table>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <!--顧客名-->
        <td><%= link_to customer_path(customer.id) do %>
        <%= customer.name %>
        <% end %>
        </td>
        <!--メールアドレス-->
        <td><%= customer.email %></td>
        <!--登録日時-->
        <td><%= customer.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>