<h2>退会しますか?</h2>

<h4>
  退会すると、会員登録情報や</br>
  これまでの投稿が閲覧できなくなります。</br>
  退会する場合は、「退会する」をクリックしてください。
</h4>

<%= link_to "退会しない", customer_path(current_customer) %>

<%= link_to "退会する", customers_withdraw_path, method: :patch, "data-confirm" => "本当に削除しますか？" %>