<h2>検索結果 "<%= @keyword %>"</h2>
  <ul>
    <% @items.each do |item| %>
      <li>
        <%= link_to item_path(item.id) do %>
        <% if item.image.attached? %>
          <%= image_tag item.image.variant(gravity: :center, resize:"100x100") %>
        <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>